<?xml version="1.0"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="RepositoriesDirectory" value="C:\GitRepo" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RepositoryLevel" value="3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true" xdt:Transform="Insert">
        <fileExtensions>
          <remove fileExtension=".cs" />
          <remove fileExtension=".csproj" />
          <remove fileExtension=".config" />
          <remove fileExtension=".resx" />
          <remove fileExtension=".vb" />
        </fileExtensions>
        <hiddenSegments>
          <remove segment="App_Browsers" />
          <remove segment="App_Data" />
          <remove segment="App_WebReferences" />
          <remove segment="App_LocalResources" />
          <remove segment="App_GlobalResources" />
          <remove segment="App_code" />
          <remove segment="bin" />
          <remove segment="web.config" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>